@import "bulma";

.section1 {
  margin-top:100px;
}

.logo {
  border-radius: 30px;
  padding: 10px;
  width: 100px;
}

.phrase {
    font-family: 'Merienda', cursive;
    color: white;
    align-self: center;
    padding-left: 30px;
}